/* #title{
    text-align: center;
}
#description{
    text-align: center;
} */

#title, #description, #instruction{
    padding: 0 1 0 1;
}

#title{
    color: #e24048;
}
#description{
    color: #5080b3;
}
.details{
    padding: 0 1 0 1;
    text-align: right;
}